#home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

#ks-logo-home {
	width: 30vh;
	height: 30vh;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 20vh;
	animation: fadeinmoveup 2s ease-in-out;
	z-index: -4;
}

#timer {
	position: absolute;
	bottom: 5vh;
	animation: fadein 4s ease-in-out;
	font-size: calc(16px + 2vw);
	z-index: -1;
}

@keyframes fadeinmoveup {
	0% {opacity: 0; margin: auto; width: 60vh; height: 60vh}
	50% {opacity: 1; margin: auto; width: 60vh; height: 60vh}
	100% {opacity: 1; margin: none; width: 30vh; height: 30vh}
}

@keyframes fadein {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}