#home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
	z-index: 0;
}

#ks-logo-home {
	max-width: min(95vw, 300px);
	width: 20vh;
	position: absolute;
	top: 15vh;
	animation: fadeinmoveup 2s ease-in-out;
	z-index: -6;
}

#timer {
	position: absolute;
	/* bottom: 5vh; */
	top: 50vh;
	animation: fadein 4s ease-in-out;
	font-size: calc(16px + 2vw);
	z-index: -1;
}

@keyframes fadeinmoveup {
	0% {opacity: 0; top: 30vh; margin: auto; width: 40vh;}
	50% {opacity: 0; top: 30vh; margin: auto; width: 40vh;}
	100% {opacity: 1; top: 15vh; margin: none; width: 20vh;}
}

@keyframes fadein {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}