#timer {
	width: 80%;
	color: white;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 2em;
}

.countdown {
	font-family: 'digital-7', sans-serif;
	margin: 2vw auto 1vw auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: fit-content;
}

.unit {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 10px;
}

.unit > div {
	margin: 1vw;
	line-height: calc(50px + (100 - 50) * ((100vw - 320px) / (2560 - 320)));
}

.timer-text {
	text-align: center;
	font-family: monospace;
	font-size: calc(40px + (90 - 40) * ((100vw - 320px) / (2560 - 320)));
	line-height: 1.5em;
}

.desc {
	font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (2560 - 320)));
}

.val {
	font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (2560 - 320)));
}

@font-face {
	font-family: 'digital-7';
	src: url('../../../assets/digital-7.ttf');
}
