#timer {
	width: 80%;
	color: white;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 2em;
}

.countdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-family: 'digital-7', sans-serif;
	margin: 2vw 1vw 1vw 1vw;
}

.countdown > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.countdown > div > div {
	margin: 1vw;
}

.timer-text {
	text-align: center;
	font-family: monospace;
	font-size: 1.1em;
	line-height: 1.5em;
}

.desc {
	display: flex;
	align-items: flex-end;
}

.val {
	font-size: 3em;
	display: flex;
	align-items: flex-end;
	line-height: 1em;
}

@font-face {
	font-family: 'digital-7';
	src: url('../../../assets/digital-7.ttf');
}
