.canvasWrapper {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
}

.moon {
	width: 40vw;
	height: 40vw;
	position: absolute;
	z-index: -5;
	background-color: whitesmoke;
	border-radius: 20vw;
	top: -20vw;
	left: -20vw;
	animation: 2.5s infinite alternate move ease-in-out;
}

.meteor {
	position: absolute;
	top: -100vh;
	animation: strike 5s ease-in;
	animation-delay: 2s;
	transform: rotateY(180deg);
	z-index: -5;
	opacity: 0;
}

@keyframes move {
	from {top: -10vw; display: inline;}
	to {top: -5vw; display: inline;}
}

@keyframes strike {
	from {top: 0px; right: 0px; width: 20px; height: 20px; opacity: 1;}
	to {top: 100vh; right: 100vw; width: 60px; height: 60px; opacity: 1;}
}
